version: '3.8'

services:
  rust:
    build: .
    volumes:
      - .:/workspace
      - cargo-cache:/usr/local/cargo/registry
    working_dir: /workspace
    stdin_open: true
    tty: true

volumes:
  cargo-cache:
